body
{
    background-color: #efefef;
    border: none;
    color: #222;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: center;
}

img, ul, figure
{
    padding: 0;
    margin: auto;
    border: 0;
}

iframe
{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}

a
{
    text-decoration: none;
    color: #000;
}

.iframeWrap
{
    bottom: 18px;
    position: absolute;
    top: 44px;
    left: 0;
    width: 100%;
}

.headerMenu
{
    position: absolute;
    display: block;
    line-height: 36px;
    width: 100%;
    text-align: center;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #efefef));
    background-image: -moz-linear-gradient(top, #ffffff, #efefef);
    background-image: linear-gradient(top, #ffffff, #efefef);
    box-shadow: 0 0 10px #222;
    z-index: 1000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.headerMenu a img
{
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 5px;
}
.headerMenu a
{
    display: inline-block;
    color: #000;
    padding-right: 7px;
    padding-left: 7px;
    font-size: 16px;
    -webkit-transition-property: color, background;
    -webkit-transition-duration: 0.5s, 0.5s;
}
.headerMenu a:hover
{
    background: #d9d9d9;
    -webkit-transition-property: color, background;
    -webkit-transition-duration: 0.5s, 0.5s;
}

.headerMenu a.selected
{
    background: #d9d9d9;
}

.promos
{
    display: inline-block;
    position: relative;
    margin-top: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.promos a
{
    background-color: #f6f6f6;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #F9F9F9), color-stop(100%, #F0F0F0));
    background-image: -moz-linear-gradient(top, rgba(249,249,249,1) 50%, rgba(240,240,240,1) 100%);
    background-image: linear-gradient(top, rgba(249,249,249,1) 50%, rgba(240,240,240,1) 100%);
    border-radius: 5px;
    box-shadow: 0 -3px 1px rgba(255,255,255,.6), inset 0 2px 1px rgba(255,255,255,.97), 0 0 3px -1px rgba(0,0,0,.7), 0 8px 3px -5px rgba(0,0,0,.2);
    display: inline;
    position: relative;
    float: left;
    height: 270px;
    width: 302px;
    margin: 11px;
}

footer
{
    bottom: 0;
    width: 100%;
    position: absolute;
    font-size: 12px;
    background-color: #efefef;
    /*background-image: -webkit-gradient(linear, left top, left bottom,
     * color-stop(100%, #efefef), color-stop(0%, #ffffff));
     background-image: -moz-linear-gradient(top, #efefef, #ffffff);
     background-image: linear-gradient(top, #efefef, #ffffff);*/
    z-index: 1001;
}

footer span
{
    display: inline-block;
    padding-left: 4px;
    vertical-align: bottom;
}